<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Remind to acknowledge since the fault reported in minutes -->
    <add key="MinutesToAcknowledge" value="60"/>

    <!-- Remind to complete since the fault reported in minutes -->
    <add key="MinutesToComplete" value="240"/>
    
    <!-- The past days' orders to report -->
    <add key="DaysToReport" value="-7"/>
    
    <!-- Report on every Sun/Mon/Tue/Wed/Thu/Fri/Sat day-->
    <add key="ReportDay" value="Mon"/>
    
    <!-- Report on time(24h)-->
    <add key="ReportTime" value="1:00"/>

    <!-- The past days' orders to fetch -->
    <add key="DaysToFetch" value="-14"/>
    
    <!-- Start index to fetch -->
    <add key="FetchStart" value="0"/>
    
    <!-- How many orders to fetch -->
    <add key="FetchLength" value="500"/>
  </appSettings>
</configuration>